@media screen and (max-width: 480px) {
   
    .container{
        width: 100%;
        height: 100vh;
       
    }
    .row{
        width: 500px;
        margin:0  auto;
    }
    .header-logo{
    width: 90%;
        display: inline-block;

    }
    .nav-ber{
      
        margin-top: 10px;
       
    }
    .nav-ber li{
      width: 50%;
      display: inline;
        font-size: 10px;
    }
    .personal-info{
        margin-top: 143px;
    }
  }